body {
  color: #333333;
  margin: 0;
  padding: 0;
  background: white;
  font: 100% verdana, helvetica, sans-serif; }

a#skip {
  position: absolute;
  top: -100px; }
a.external {
  text-decoration: none; }

#container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
  background-color: white;
  text-align: left;
  border: 0px solid #999999;
  color: #333333; }
  #container a.nounderline {
    text-decoration: none;
    color: #003366; }
  #container #main_menu a.nounderline, #container #main_menu #main_body p a.nounderline {
    text-decoration: none;
    color: #003366; }
  #container a.nounderline:hover {
    text-decoration: none;
    color: #003366; }
  #container #main_menu a.nounderline:hover, #container #main_menu #main_body p a.nounderline:hover {
    text-decoration: none;
    color: #003366; }
  #container a.nounderline:visited {
    text-decoration: none;
    color: #003366; }
  #container #main_menu a.nounderline:visited, #container #main_menu #main_body p a.nounderline:visited {
    text-decoration: none;
    color: #003366; }
  #container a.external:link span.external2, #container a.external:hover span.external2, #container a.external:visited span.external2 {
    background: transparent url(http://www.loc.gov/images/icon-ext2.gif) 100% 100% no-repeat;
    padding: 0 5px 0 3px;
    width: 8px;
    height: 10px;
    text-decoration: none; }
  #container span.underline {
    text-decoration: underline; }

h1 {
  color: #990000;
  padding: 5px 10px 5px 10px;
  font: bold 140%/100% Georgia, "Times New Roman", Times, serif;
  margin: 0px; }

div#topnav {
  height: 55px;
  width: 100%;
  margin: 0;
  padding-top: 0px;
  border-bottom: 1px solid #99ccff;
  background: white url(../images/line_red100.gif) top left no-repeat; }
  div#topnav ul#menu {
    height: 55px;
    width: 400px;
    margin: 0px 15px 0px 0px;
    padding: 0;
    position: relative; }
    div#topnav ul#menu li {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      top: -1px; }

ul#menu li, ul#menu a {
  height: 55px;
  padding-top: 0px;
  display: block; }

#logo_lc {
  background: transparent url(../images/logo_lc.gif) 0px 3px no-repeat;
  left: 0;
  width: 215px; }

#logo {
  background: transparent url(../images/logo_thomas.gif) 0px 3px no-repeat;
  left: 216px;
  width: 208px; }

#crumb_nav {
  clear: both;
  height: 28px;
  padding: 0px 0px 0px 15px;
  color: white;
  border-bottom: 1px solid #0a2948;
  background: #000033 url(../images/gradient.jpg) top right no-repeat; }
  #crumb_nav #crumb {
    color: white;
    text-align: left;
    padding: 10px 0px 0px 0px;
    font: 70% Verdana, Helvetica, sans-serif; }
    #crumb_nav #crumb a {
      color: #b6d9fc;
      font-size: 95%;
      font-weight: 100; }
    #crumb_nav #crumb span {
      color: #b6d9fc;
      font: 80% Verdana, Helvetica, sans-serif;
      font-weight: 700; }

#content {
  margin: 15px;
  font: 90% verdana, helvetica, sans-serif;
  background-color: white;
  text-align: left;
  padding: 0 60px 0 0; }

#footer {
  display: block;
  clear: both;
  font: 80% verdana, helvetica, sans-serif;
  height: auto;
  text-align: left;
  border-top: 2px solid #005194;
  padding: 15px 0px 0px 0px; }
  #footer a {
    color: #666666;
    font-size: 80%;
    font-family: verdana, helvetica, sans-serif;
    font-weight: normal;
    text-decoration: underline; }
  #footer h3 {
    width: 400px;
    margin: 0 0 0 0;
    padding: 5px 10px 0px 15px;
    font: bold 95%/105% Georgia, "Times New Roman", Times, serif;
    color: #666666; }
  #footer a:hover, #footer a:focus {
    color: #333333; }
  #footer h3 a.nounderline:hover, #footer h3 a.nounderline:visited {
    text-decoration: none;
    color: #666666; }

#find_us, #subscribe, #download {
  width: 30%;
  margin: 10px 0 20px 0;
  padding: 10px 0px 0px 0;
  float: left;
  background-color: white;
  font-size: 85%;
  color: #666666; }

#find_us {
  margin: 10px 0 0 40px;
  width: 20%; }
  #find_us a img {
    border: 0;
    margin: 0 14px 0 0;
    padding: 0; }
  #find_us h4 {
    margin: 0;
    padding: 0px 10px 5px 0;
    font: bold 100%/105% Verdana, Arial, Helvetica, sans-serif;
    color: #666666; }

#subscribe h4, #download h4 {
  margin: 0;
  padding: 0px 10px 5px 0;
  font: bold 100%/105% Verdana, Arial, Helvetica, sans-serif;
  color: #666666; }

#footer #subscribe ul, #footer #download ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 20px; }
#footer #subscribe ul li, #footer #download ul li {
  margin: 0;
  display: block;
  padding: 0;
  list-style: none;
  position: absolute; }
#footer #subscribe ul li, #footer #download ul li {
  font-size: 120%; }

#rssandemail {
  width: 100px;
  left: 0;
  top: 0; }

#blogs {
  width: 50px;
  left: 115px;
  top: 0;
  padding: 0; }

#podcasts {
  width: 70px;
  left: 0; }

#webcasts {
  width: 70px;
  left: 75px;
  top: 0;
  padding: 0; }

#itunes {
  width: 90px;
  left: 150px;
  top: 0;
  padding: 0; }

#container #footer a.external {
  text-decoration: none;
  background: none; }
  #container #footer a.external:link span.external2, #container #footer a.external:hover span.external2, #container #footer a.external:visited span.external2 {
    background: transparent url(http://www.loc.gov/images/icon-ext-foot.gif) 90% 100% no-repeat; }
#container #footer span.underline {
  text-decoration: underline; }

#site_links {
  clear: both;
  font: normal 100%/100% verdana, helvetica, sans-serif;
  height: 30px;
  text-align: left;
  color: #666666;
  padding: 0px 0px 0px 15px; }
  #site_links span.right {
    margin-left: 75px; }
    #site_links span.right a img {
      border: 0; }

.headertable {
  border-style: none;
  border-spacing: 0px;
  padding: 0px;
  width: 100%; }

.lislogotd {
  width: 55px;
  height: 48px;
  white-space: nowrap; }

.lislogo {
  border-style: none; }

.pageheader {
  font-weight: bold;
  color: #31009c;
  font-style: italic;
  white-space: nowrap; }

.displayname {
  font-weight: bold;
  white-space: nowrap; }

.items {
  white-space: nowrap; }

.itemrange {
  font-weight: bold; }

.previousimg, .nextimg {
  border-style: none; }

.thinrule {
  line-height: 1px; }

.smaller {
  font-size: 80%;
  border-style: none;
  border-spacing: 0px;
  padding: 0px;
  width: 100%; }

.tdnowrap {
  white-space: nowrap; }

.tdalignright {
  text-align: right; }

.breadcrumbs {
  background-color: #ffffcc;
  border-style: none;
  border-spacing: 0px;
  padding: 3px;
  width: 100%; }

.navtable {
  background-color: #eeeeee;
  border-style: none;
  border-spacing: 0px;
  padding: 3px;
  width: 100%; }

.searchstatement {
  border-style: none;
  border-spacing: 0px;
  padding: 0px;
  width: 100%; }

.search {
  font-style: italic; }

.parsedtable {
  border: 1px solid black;
  border-spacing: 0px;
  padding: 0px; }

.small {
  font-size: 80%; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.keylink {
  font-size: 70%;
  font-family: arial, verdana, sans-serif; }

.resultnumber, .activedisplay, .label {
  font-weight: bold; }

.bssbrief {
  border-style: none;
  border-spacing: 0px;
  padding: 0px;
  width: 100%; }

.resultnumbertd {
  width: 60%;
  white-spacing: nowrap; }

.resultimagestd {
  width: 40%;
  white-spacing: nowrap; }

.mimgtable {
  border-style: none;
  border-spacing: 0px;
  padding: 0px;
  width: 100%; }

.mimgtd {
  width: 52px; }

.mimg {
  border-style: none; }

.thisdocrel {
  background-color: #eeeecc;
  border-style: none;
  border-spacing: 0px;
  padding: 3px;
  width: 100%; }

.thisdocnav {
  background-color: white;
  border-style: none;
  border-spacing: 0px;
  padding: 3px;
  width: 100%; }

.ebrief {
  border-style: none;
  border-spacing: 0px;
  padding: 0px;
  width: 100%; }

.elabel {
  font-weight: bold; }

.eitem {
  font-size: 80%;
  font-color: blue;
  font-weight: bold; }

.senatedate {
  font-style: italic; }

.searchwords {
  font-size: 80%;
  font-family: arial, verdana, sans-serif;
  color: #009900; }

.billtable {
  border-style: none;
  border-spacing: 0px;
  padding: 0px; }

.ocosp {
  font-style: italic;
  color: #339900; }

.highlighting {
  color: black;
  background: yellow; }

#source {
  margin-right: 500px;
  overflow: auto; }

.annotator-notice, .annotator-filter *, .annotator-widget * {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  background: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #909090; }
  .annotator-notice p, .annotator-filter * p, .annotator-widget * p {
    margin-bottom: 0.5em; }

.annotator-hl {
  background: rgba(255, 255, 10, 0.3); }

.annotator-group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.annotator-listing {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.annotator-detail {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 500px;
  background: #fbfbfb;
  border-left: 2px solid rgba(209, 209, 209, 0.31); }

.annotator-widget {
  padding: 0.5em;
  padding-bottom: 0;
  margin-top: 1em;
  border-top: 1px solid rgba(133, 133, 133, 0.31); }
  .annotator-widget button {
    border: 1px solid rgba(133, 133, 133, 0.31);
    border-radius: 3px;
    padding: 0.5em;
    background: #f8f8f8; }
    .annotator-widget button:hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #f3f3f3));
      background-image: -webkit-linear-gradient(#fbfbfb, #f3f3f3);
      background-image: -moz-linear-gradient(#fbfbfb, #f3f3f3);
      background-image: -o-linear-gradient(#fbfbfb, #f3f3f3);
      background-image: -ms-linear-gradient(#fbfbfb, #f3f3f3);
      background-image: linear-gradient(#fbfbfb, #f3f3f3); }
    .annotator-widget button:active {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #ededed));
      background-image: -webkit-linear-gradient(#f8f8f8, #ededed);
      background-image: -moz-linear-gradient(#f8f8f8, #ededed);
      background-image: -o-linear-gradient(#f8f8f8, #ededed);
      background-image: -ms-linear-gradient(#f8f8f8, #ededed);
      background-image: linear-gradient(#f8f8f8, #ededed);
      border: 1px solid rgba(0, 0, 0, 0.31); }
  .annotator-widget input, .annotator-widget textarea {
    border: 1px solid rgba(133, 133, 133, 0.31);
    background: #f8f8f8;
    border-radius: 3px;
    padding: 0.5em;
    width: 97%; }
    .annotator-widget input:focus, .annotator-widget textarea:focus {
      outline: none;
      background: #f8f8f8;
      border: 1px solid rgba(0, 0, 0, 0.31); }

.annotator-item {
  padding-top: 0.8em; }

.annotator-excerpt {
  border: 1px solid rgba(133, 133, 133, 0.31);
  border-radius: 3px;
  padding: 0.5em;
  background: #f8f8f8; }
  .annotator-excerpt .annotator-big {
    font-size: 16px;
    color: #c12c3b;
    margin-bottom: 0.25em; }

.annotator-content p {
  line-height: 1.2em; }
.annotator-content p:last-child {
  margin-bottom: 0; }

.annotator-listing.annotator-replies {
  padding-left: 1em; }

.annotator-controls {
  height: 2em; }

.annotator-reply {
  float: right; }

.annotator-flag {
  float: right;
  margin-right: 0.25em; }

.annotator-score {
  border: 1px solid rgba(133, 133, 133, 0.31);
  border-radius: 3px;
  padding: 0.5em;
  float: left; }
  .annotator-score span {
    display: inline-block;
    border-right: 1px solid rgba(133, 133, 133, 0.31);
    padding-right: 0.25em; }
    .annotator-score span:last-child {
      border-right: none;
      padding-right: none; }
  .annotator-score .annotator-big {
    font-size: 16px;
    color: #c12c3b;
    display: inline; }
  .annotator-score .annotator-small {
    display: inline; }

.annotator-user {
  color: #c12c3b;
  font-size: 16px; }

.annotator-tag {
  vertical-align: super;
  background: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  padding: 0 0.25em; }
