@import url(http://fonts.googleapis.com/css?family=Antic+Slab)
@import "cispa.css"
@import compass

//SOURCE VIEWPORT
#source
  margin-right: 400px
  overflow: auto
  position: relative

//GLOBAL STUFF FOR ANNOTATOR
//COLORS
//

$trace-border: hsla(48, 0%, 90%,.5)
$xlight-border: hsla(0, 0%, 82%, 0.31)
$light-border: hsla(0, 0%, 52%, 0.31)
$med-border: hsla(0, 0%, 12%, 0.31)
$dark-border: hsla(0, 0%, 0%, 0.31)

$cool-hue: 220
$cool-huesat: 220, 5%

$desat-minor: hsla($cool-hue, 50%, 98%,.1)
$desat-major: hsla($cool-hue, 98%, 98%,.3)

$a-gray_c: hsla($cool-hue, 60%, 98%, 1)

$o-gray_c: hsla($cool-hue, 10%, 40%, 1)
$p-gray_c: hsla($cool-hue, 10%, 50%, 1)
$q-gray_c: hsla($cool-hue, 10%, 70%, 1)


$y-gray_c: hsla($cool-hue, 0%, 95%, 1)
$z-gray_c: hsla($cool-hue, 0%, 99%, 1)

$warm-hue: 45
$warm-huesat: 45, 5%

$warm-white: hsla(55, 98%, 96%, 1)

$a-gray_w: hsla($warm-hue, 60%, 98%, 1)

$o-gray_w: hsla($warm-hue, 10%, 40%, 1)
$p-gray_w: hsla($warm-hue, 10%, 50%, 1)
$q-gray_w: hsla($warm-hue, 10%, 60%, 1)

$y-gray_w: hsla($warm-hue, 0%, 95%, 1)
$z-gray_w: hsla($warm-hue, 0%, 99%, 1)

$base-gray: hsla($warm-hue, 0%, 99%, 1)

$med-red: #c12c3b


//ANNOTATOR TEXT STYLES
//Text styles have font size, color, decoration, spacing, etc. Use only for properties relating directly to the display of text. The style for body text is defined up in the resets and is the default.
@mixin redtitletext
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  font-weight: normal
  font-size: 16px
  color: $med-red
  line-height: 1.2em
  text-align: left

@mixin bodytext
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  font-weight: normal
  font-size: 13px
  color: hsla($warm-hue, 10%, 40%, 1)
  line-height: 1.2em
  text-align: left

@mixin primarytext
  color: #666
  font-weight: bold

@mixin secondarytext
  color: $q-gray_w
  font-size: .8em

@mixin tagtext


//ANNOTATOR SHADOW STYLES
@mixin bigshadow
  +box-shadow(0px 0px 50px hsla(0, 0%, 0%, 0.05))

@mixin smallshadow($a: 2px, $b: 2px)
  +box-shadow($a $b 8px hsla(0, 0%, 0%, .1))

//ANNOTATOR BOX STYLES
//Box styles have borders, backgrounds, and shadows. Visual effects that do not mess with the positioning much.
@mixin whitebox
  background: white
  box-shadow: 1px 1px 4px $xlight-border
  @include bodytext

@mixin excerptbox
  background: white
  font-family: serif
  font-size: 1.1em

@mixin threadbox
  border-left: 1px dotted hsla($warm-hue, 5%, 70%, 1)
  background: $desat-minor

@mixin buttonbox
  border: 1px solid $med-border
  border-radius: 3px
  padding: .5em
  +box-shadow(0px 1px 0px #999)
  position: relative
  &:hover
  &:active
    top: 1px
    +box-shadow(none)

@mixin basebox
  background: $base-gray

@mixin tabbox
  +smallshadow
  background: $base-gray
  &:hover
    background: #eee
  &:active
    box-shadow: none

@mixin invisibox
  &:active
    border: none
    outline: none
  background: none
  border: none
  outline: none
  box-shadow: none

@mixin tagbox
  background: hsla($cool-hue, 10%, 90%, 1)
  color: hsla($warm-hue, 10%, 30%, 1)
  border-radius: 2px
  border: 1px solid hsla($cool-hue, 10%, 70%, 1)

//ICON IMAGES
//This class provides some useful defaults for setting icon images.
//It has a variable allowing you to switch between iconsets (folders inside /images directory)
$iconset: iconset_wireframe
@mixin icon_resets
  text-indent: -9999px
  background-repeat: no-repeat
  background-position: center
  background-size: 100% 100%

@mixin icon($icon)
  +icon_resets
  background-image: url('../images/#{$icon}.png')

//This applies to the annotator as a whole, plus styles specific to the .annotator-listing class
.annotator-listing
  list-style-type: none
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  font-weight: normal
  font-size: 13px
  color: #666
  line-height: 1.2em
  text-align: left
  margin: 0
  padding: 0
  background: none
  p
    margin: 0
    margin-bottom: .5em
  input, textarea
    +invisibox
    +box-sizing(border-box)
    font: sans-serif
    padding: .5em
    &:focus
      outline: none
  button
    +buttonbox

.annotator-component
  padding-left: 1em
  padding-right: 1em
  padding-top: 1em


//ANNOTATOR LAYOUT STUFF

.annotator-hl
  background: rgba(255, 255, 10, 0.3)

//ANNOTATOR
//
.annotator-sidepane
  background: white
  position: fixed
  top: 0
  right: 0
  bottom: 0
  margin:
    left: 1em
  padding:
    bottom: 1em
  overflow: auto
  width: 410px
  +bigshadow
  border-left: 1px solid #ddd


//GLOBAL STYLES
//Add settings in here if they will apply to the class globally. Visual styles, extends, padding, etc. Don't put margins or absolute positioning in here. Instead, use the object styles for things having to do with positioning.

//MISC
.annotator-tag
  +tagbox
  +tagtext
  padding: .1em .5em
  padding-bottom: .25em




.annotator-user
  +redtitletext

.annotator-time
  +secondarytext

.annotator-heatmap
  position: absolute
  right: 0
  top: 0
  height: 100%
  width: 1.5em
  +smallshadow(0px, -2px)
  background: white
  border-left: 1px solid #bbb
  .annotator-heatmap_tab
    text-align: center
    +tabbox
    position: absolute
    top: 43%
    width: 3em
    right: .2em
    padding: .25em 0
    font-family: sans-serif
    font-size: 1em
    border: 1px solid #bbb
    border-right: none

.annotator-controls
  &.var1
    position: absolute
    top: 2em
    left: -2.7em
    background: $base-gray
    border:
      left: 1px dotted #999
      top: 1px dotted #999
      bottom: 1px dotted #999
    z-index: 100
    button
      display: block
      margin: .5em
      height: 1.5em
      width: 1.5em
  &.var2
    text-indent: 1em
    margin-bottom: .5em
    button
      height: 1em
      width: 1em
    label
      vertical-align: top
      margin-right: 1em
  &.var3
    position: absolute
    top: 50em
    left: 10em
    background: $base-gray
    border: 1px solid #bbb
    z-index: 100
    +smallshadow
    button
      margin: .5em
      height: 1.5em
      width: 1.5em


//SCORE
//This is for the score indicator part
.annotator-score
  display: table
  vertical-align: middle
  +box-sizing(border-box)
  border-radius: .5em
  float: left
  height: 4em
  background: rgba(0, 0, 0, 0)
  padding-right: .5em
  .annotator-container
    display: table-cell
    vertical-align: middle
    text-align: center
    margin:
      left: auto
      right: auto
  .annotator-up
    +icon(up_1)
    opacity: .5
    padding: 0
    width: 1.5em
    height: .8em
    margin:
      left: auto
      right: auto
  .annotator-down
    +icon(down_1)
    opacity: .5
    padding: 0
    width: 1.5em
    height: .8em
    margin:
      left: auto
      right: auto
  .annotator-dot
    +icon(dot_1)
    opacity: .5
    padding: 0
    height: .75em
    width: .75em
    margin:
      left: auto
      right: auto
  .annotator-label
    +primarytext
    font-size: 1.5em
    padding: .25em 0
    &.annotator-selected
      border:
        top: .5em solid #666
        bottom: .5em solid #666

  &.red
    .annotator-dot
      +icon(dot_1-red)
    .annotator-down
      +icon(down_1-red)
    .annotator-up
      +icon(up_1-red)

  &.green
    .annotator-dot
      +icon(dot_1-green)
    .annotator-down
      +icon(down_1-green)
    .annotator-up
      +icon(up_1-green)

  &.blue
    .annotator-dot
      +icon(dot_1-blue)

.annotator-replies
  padding-left: 1em

//ANNOTATOR WIDGETS
.annotator-reply
  +threadbox
  margin-top: 1.5em
  line-height: 1.25em
  position: relative
  .annotator-score
    font-size: .9em
    margin-right: .5em
  .annotator-content
    padding:
      left: 1em
      right: 1em
      top: 1em

.annotator-annotation
  @extend .annotator-reply
  margin-left: 0
  margin-top: 0
  border: none
  background: $base-gray

.annotator-summary
  @extend .annotator-reply
  background: $base-gray
  border-left: none
  margin-bottom: 1em



//ANNOTATOR EDITORS
//This applies to the editors (writer, faver, and flagger)

@mixin editorpresets
  z-index: 10
  button
    margin: 1em
  .fake_fieldset
    background: white
    +smallshadow(.2em, .2em)
    margin-bottom: 1em
//    border-left: 1px dotted #999
//    border-bottom: 1px dotted #999

.annotator-writer
  +editorpresets
  .fake_fieldset
    +clearfix
    padding: .5em
    position: relative
  .annotator-score
    font-size: .8em
  textarea
    width: 100%
    max-width: 90%
    margin: 0

    float: right
    min-height: 5em
    padding: 0
  input
    float: left
    width: 80%
    vertical-align: bottom
  .annotator-controls
    float: right
    padding-top: .5em
    button
      clear: none
      margin-right: .25em
    &button:last-child
      margin-right: 0

.annotator-faver
  +editorpresets
  +clearfix
  margin: 0
  .fake_fieldset
    z-index: 10
    +clearfix
    +whitebox
    +smallshadow
    padding: .5em
    position: relative
    .annotator-label
      +secondarytext
      font-size: 1.2em
      float: left
      vertical-align: middle
  textarea
    width: 100%
    max-width: 90%
    margin: 0
    margin-left: 9%
    float: right
    min-height: 5em
    padding: 0
  input
    float: left
    width: 80%
    vertical-align: bottom
  .annotator-controls
    float: left
    padding-top: .25em
    clear: none
    button
      margin-right: .25em
    &button:last-child
      margin-right: 0

.annotator-flagger
  +editorpresets
  +clearfix
  margin: 0
  .fake_fieldset
    z-index: 10
    +clearfix
    +whitebox
    +smallshadow
    padding: .5em
    position: relative
    text-align: center



//TABS
//This applies to tab bars
.annotator-tabs
  +clearfix
  .annotator-tab
    float: left
    padding: .25em .5em
    margin-right: .5em
    margin-bottom: -1px
    +smallshadow
    +tabbox

//BODY
.annotator-body
  border-bottom: 1px dotted #999


//META
//This applies to the bar at the top of annotations and replies.
.annotator-meta
  +clearfix
  background: $desat-minor
  padding: .25em
  .annotator-tags
    float: left
    width: 50%
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    margin:
      top: .5em
      bottom: .5em
      left: 1em
    .annotator-tag
      padding: .25em
  .annotator-container
    text-align: right
    float: right
    margin:
      right: 1em


//This applies to the excerpt of the source material, and possibly other excerpts.
.annotator-excerpt
  font-family: "Antic Slab", serif
  font-size: 1.1em
  color: black
  margin: 0
  margin-bottom: 2em
  padding: 1em


//BUTTONS AS ICONS
.annotator-iconbutton
  border: none
  background: none
  +box-shadow(none)
  width: 1.8em
  height: 1.8em
  opacity: .4
  &:hover, :active
    opacity: .8

button.annotator-write
  +icon(pen_1)
  @extend .annotator-iconbutton
  background-image: url('../images/pen_1.png')

button.annotator-flag
  +icon(flag_1)
  @extend .annotator-iconbutton

button.annotator-fave
  +icon(fave_3)
  @extend .annotator-iconbutton

button.annotator-save
  +icon(submit_1)
  @extend .annotator-iconbutton
  width: 2em
  height: 2em

button.annotator-delete
  +icon(delete_1)
  @extend .annotator-iconbutton
  width: 2em
  height: 2em

button.annotator-link
  +icon(link_1)
  @extend .annotator-iconbutton
  height: 2em
  width: 2em

button.annotator-facebook
  +icon(facebook_1)
  @extend .annotator-iconbutton
  height: 2em
  width: 2em

button.annotator-twitter
  +icon(twitter_1)
  @extend .annotator-iconbutton
  height: 2em
  width: 2em

button.annotator-google
  +icon(google_1)
  @extend .annotator-iconbutton
  height: 2em
  width: 2em

button.annotator-up
  +icon(up_1)
  @extend .annotator-iconbutton
  height: 1em
  width: 1.5em

button.annotator-down
  +icon(down_1)
  @extend .annotator-iconbutton
  height: 1em
  width: 1.5em
