%li.annotator-widget.annotator-annotation_detail

  %blockquote.annotator-component.annotator-excerpt
    %p
      `(2) CYBER THREAT INTELLIGENCE- The term `cyber threat intelligence' means information in the possession of an element of the intelligence community directly pertaining to a vulnerability of, or threat to, a system or network of a government or private entity, including information pertaining to the protection of a system or network from--
    %p
      `(A) efforts to degrade, disrupt, or destroy such system or network; or
    %p
      `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.

  .annotator-container
    .annotator-component.annotator-meta
      .annotator-score
        .annotator-up
        .annotator-label 34.5
      .annotator-controls
        %button.annotator-fave Favorite
        %button.annotator-write Reply
        %button.annotator-flag Flag
    .annotator-container
      .annotator-info
        .annotator-user bo1024
        .annotator-time posted 5 days ago
      .annotator-component.annotator-tags
        %span.annotator-tag Bad for freedom

    %article.annotator-component.annotator-content
      %p
        From my reading, it explicitly includes intellectual property as a cybersecurity issue unto itself. (I have no idea why this would be justified.)

  %form.annotator-component.annotator-editor
    %textarea#annotator-field-0{:placeholder => "Comments…"}
    %input#annotator-field-1{:placeholder => "Add a stance."}
    .annotator-controls
      %button.annotator-delete Delete
      %button.annotator-save Save

  %ul.annotator-listing.annotator-replies
    = partial "reply-1.haml"
