/*The first #annotator-sidebar represents a simple detail view, while the second represents a bucket view. #annotator-sidebar is the entire fixed position sidebar frame. Inside, there are some object classes representing elements of the hierarchy. .annotator-listing is applied to ul's and defines a list of widgets. .annotator-widget is applied to li's inside this list. Widgets can be removed from their context as a unit and keep their meaning. .annotator-component goes only inside of widgets and is padded nicely. Inside of components we use whatever arrangement of elements works best.
/*Simple detail view
#annotator-sidebar
  %ul.annotator-listing
    %li.annotator-annotation_detail.annotator-widget

      %blockquote.annotator-excerpt.annotator-component
        %p
          the piece of the source material that is being annotated goes here.

      .annotator-meta.annotator-component
        .annotator-score
          .annotator-up
          .annotator-label score of annotation goes here.
        .annotator-info
          .annotator-user username goes here
          .annotator-time time posted goes here.
        .annotator-controls
          %button.annotator-write Reply
          %button.annotator-flag Flag
          %button.annotator-fave Favorite

      %article.annotator-content.annotator-component
        %p
          the body of the annotation goes here.

      .annotator-tags.annotator-component
        %span.annotator-tag tag goes here

      %form.annotator-editor.annotator-component
        %textarea#annotator-field-0{:placeholder => "Comments…"}
        .annotator-controls
          %input#annotator-field-1{:placeholder => "Add a tag."}
          %button.annotator-delete Delete
          %button.annotator-save Save

      %ul.annotator-replies.annotator-listing

        %li.annotator-reply.annotator-widget

          .annotator-meta.annotator-component
            .annotator-score
              .annotator-up
              .annotator-label 7.3
            .annotator-info
              .annotator-user username goes here
              .annotator-time time posted goes here.
            .annotator-controls
              %button.annotator-write Reply
              %button.annotator-flag Flag
              %button.annotator-fave Favorite

          %article.annotator-content.annotator-component
            %p
              body of reply goes here.
          .annotator-tags.annotator-component
            %span.annotator-tag tag goes here
/*Simple bucket view- this is more likely to change significantly than the annotation detail view above. For example, there's a good chance that we'll rearrange things inside of .annotator-meta
#annotator-sidebar
  %ul.annotator-listing
    %li.annotator-annotation_summary
      .annotator-meta.annotator-component
        .annotator-score
          .annotator-up
          .annotator-label score of annotation goes here.
        .annotator-info
          .annotator-user username goes here
          .annotator-time time posted goes here.
        %blockquote.annotator-content.annotator-component
          %p
            truncated body of annotation goes here.
        .annotator-tags.annotator-component
          %span.annotator-tag tag goes here
    %li.annotator-annotation_summary
      .annotator-meta.annotator-component
        .annotator-score
          .annotator-up
          .annotator-label score of annotation goes here.
        .annotator-info
          .annotator-user username goes here
          .annotator-time time posted goes here.
        %blockquote.annotator-content.annotator-component
          %p
            truncated body of another annotation goes here.
        .annotator-tags.annotator-component
          %span.annotator-tag tag goes here
