= partial "logo.haml"

.hyp-widget.hyp-excerpt
  %p
    `(2) CYBER THREAT INTELLIGENCE- The term `cyber threat intelligence' means information in the possession of an element of the intelligence community directly pertaining to a vulnerability of, or threat to, a system or network of a government or private entity, including information pertaining to the protection of a system or network from--
  %p
    `(A) efforts to degrade, disrupt, or destroy such system or network; or
  %p
    `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.

.hyp-tabs
  .hyp-tab.hyp-selected Best
  .hyp-tab Hot
  .hyp-tab Earliest
  .hyp-tab Latest

%ol.hyp-listing.hyp-annotation
  %li.hyp-widget.hyp-reply
    .hyp-full
      .hyp-nothread
        .hyp-meta
          .hyp-fakecontrols
            %button.hyp-write Reply
            %button.hyp-fave Favorite
            %button.hyp-flag Flag
          .hyp-threadexp.hyp-dot
          .hyp-user bo1024
          .hyp-time posted 5 days ago - 5 replies
        .hyp-body
          .hyp-score.hyp-negative
            %label 47
          .hyp-content
            %p
              From my reading, it explicitly includes intellectual property as a cybersecurity issue unto itself. (I have no idea why this would be justified.)
          .hyp-tags
            %span.hyp-tag GovernmentOverreach

      %ul.hyp-listing.hyp-replies
        = partial "writer.haml"
        = partial "reply-1.haml"
