%blockquote.annotator-widget.annotator-excerpt
  %p
    `(2) CYBER THREAT INTELLIGENCE- The term `cyber threat intelligence' means information in the possession of an element of the intelligence community directly pertaining to a vulnerability of, or threat to, a system or network of a government or private entity, including information pertaining to the protection of a system or network from--
  %p
    `(A) efforts to degrade, disrupt, or destroy such system or network; or
  %p
    `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.

%li.annotator-tabs
  .annotator-tab.annotator-selected Best
  .annotator-tab Hot
  .annotator-tab Earliest
  .annotator-tab Latest
%li.annotator-widget.annotator-annotation
  .annotator-reply
    .annotator-meta.var1
      .annotator-threadexp +
      .annotator-user bo1024
      .annotator-time posted 5 days ago - 5 replies
    .annotator-body
      .annotator-score.annotator-negative 25
      %article.annotator-content
        %p
          From my reading, it explicitly includes intellectual property as a cybersecurity issue unto itself. (I have no idea why this would be justified.)
        .annotator-tags.var1
          %span.annotator-tag GovernmentOverreach


      %form.annotator-component.annotator-writer
        .fake_fieldset
          .annotator-score
            .annotator-container
              .annotator-dot
              .annotator-label 12
              .annotator-dot
          %textarea{:placeholder => "Comments..."}
          %input{:placeholder => "Add a tag..."}
          .annotator-controls
            %button.annotator-save Save
            %button.annotator-delete Delete

    %ul.annotator-listing.annotator-replies
      = partial "reply-1.haml"
