%li.hyp-widget.hyp-excerpt
  %p
    To provide for the sharing of certain cyber threat intelligence and cyber threat information between the intelligence community and cybersecurity entities, and for other purposes.

%li.hyp-annotation
  .hyp-widget.hyp-writer
    .hyp-nothread
      .hyp-meta
        .hyp-fakecontrols.hyp-showed
          %button.hyp-save Save
          %button.hyp-delete Delete
        .hyp-threadexp
        .hyp-user dWhaley
        .hyp-time posting now - 0 replies
      .hyp-body
        .hyp-score.hyp-neutral
          %label 87
        %textarea.hyp-content{:placeholder => "Comments..."}
        %input.hyp-tags{:placeholder => "Add a tag..."}
