= partial "logo.haml"

.a-widget.a-excerpt
  %p
    `(2) CYBER THREAT INTELLIGENCE- The term `cyber threat intelligence' means information in the possession of an element of the intelligence community directly pertaining to a vulnerability of, or threat to, a system or network of a government or private entity, including information pertaining to the protection of a system or network from--
  %p
    `(A) efforts to degrade, disrupt, or destroy such system or network; or
  %p
    `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.

.a-tabs
  .a-tab.a-selected Best
  .a-tab Hot
  .a-tab Earliest
  .a-tab Latest

%ol.a-listing.a-annotation
  %li.a-widget.a-reply
    .a-nothread
      .a-meta
        .a-fakecontrols
          %button.a-write Reply
          %button.a-fave Favorite
          %button.a-flag Flag
        .a-threadexp.a-dot
        .a-user bo1024
        .a-time posted 5 days ago - 5 replies
      .a-body
        .a-score.a-negative
          %label 47
        .a-content
          %p
            From my reading, it explicitly includes intellectual property as a cybersecurity issue unto itself. (I have no idea why this would be justified.)
        .a-tags
          %span.a-tag GovernmentOverreach

    %ul.a-listing.a-replies
      = partial "writer.haml"
      = partial "reply-1.haml"
