%blockquote.a-widget.a-excerpt
  %p
    `(2) CYBER THREAT INTELLIGENCE- The term `cyber threat intelligence' means information in the possession of an element of the intelligence community directly pertaining to a vulnerability of, or threat to, a system or network of a government or private entity, including information pertaining to the protection of a system or network from--
  %p
    `(A) efforts to degrade, disrupt, or destroy such system or network; or
  %p
    `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.

%li.a-tabs
  .a-tab.a-selected Best
  .a-tab Hot
  .a-tab Earliest
  .a-tab Latest
%li.a-widget.a-annotation
  .a-reply
    .a-meta.var1
      .a-threadexp.open
      .a-user bo1024
      .a-time posted 5 days ago - 5 replies
    .a-body
      .a-score.a-negative 25
      %article.a-content
        %p
          From my reading, it explicitly includes intellectual property as a cybersecurity issue unto itself. (I have no idea why this would be justified.)
      .a-tags
        %span.a-tag GovernmentOverreach


      %form.a-component.a-writer
        .fake_fieldset
          .a-score
            .a-container
              .a-dot
              .a-label 12
              .a-dot
          %textarea{:placeholder => "Comments..."}
          %input{:placeholder => "Add a tag..."}
          .a-controls
            %button.a-save Save
            %button.a-delete Delete

    %ul.a-listing.a-replies
      = partial "reply-1.haml"
