%li.annotator-widget.annotator-annotation_detail

  %blockquote.annotator-component.annotator-excerpt
    %p
      `(2) CYBER THREAT INTELLIGENCE- The term `cyber threat intelligence' means information in the possession of an element of the intelligence community directly pertaining to a vulnerability of, or threat to, a system or network of a government or private entity, including information pertaining to the protection of a system or network from--
    %p
      `(A) efforts to degrade, disrupt, or destroy such system or network; or
    %p
      `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.

  .annotator-component.annotator-meta
    .annotator-score
      .annotator-label 25
      .annotator-down
    .annotator-container
      .annotator-user bo1024
      .annotator-time posted 5 days ago
    .annotator-controls
      %button.annotator-write Reply
      %button.annotator-fave Favorite
      %button.annotator-flag Flag

  %article.annotator-component.annotator-content
    %p
      From my reading, it explicitly includes intellectual property as a cybersecurity issue unto itself. (I have no idea why this would be justified.)
  .annotator-component.annotator-tags
    %span.annotator-tag Government Overreach

  %form.annotator-component.annotator-editor
    %fieldset
      %textarea#annotator-field-0{:placeholder => "Comments..."}
        .annotator-controls
          %button.annotator-up
          %button.annotator-down
      %input#annotator-field-1{:placeholder => "Add a tag..."}
        %button.annotator-save Save
        %button.annotator-delete Delete

  %ul.annotator-listing.annotator-replies
    = partial "reply-1.haml"

%form.annotator-component.annotator-editor
  %fieldset
    %legend Create New Annotation
    %label{:for => "comments"}
    %input{:autofocus => "", :name => "comments", :placeholder => "Comments...", :required => "", :type => "textarea"}
    %label{:for => "tags"} Password:
    %input{:name => "tags", :placeholder => "Add a tag.", :required => "", :type => "input"}
