#annotator
  = partial "adder.haml"
  = partial "heatmap.haml"
  .a-sidepane
    %ul.a-listing.a-detail
      = partial "annotation-detail.haml"
    %ul.a-listing.a-bucket
      = partial "summaries.haml"
