%li.a-widget.a-excerpt
  %p
    To provide for the sharing of certain cyber threat intelligence and cyber threat information between the intelligence community and cybersecurity entities, and for other purposes.

%li.a-annotation
  .a-widget.a-writer
    .a-nothread
      .a-meta
        .a-fakecontrols.a-showed
          %button.a-save Save
          %button.a-delete Delete
        .a-threadexp
        .a-user dWhaley
        .a-time posting now - 0 replies
      .a-body
        .a-score.a-neutral
          %label 87
        %textarea.a-content{:placeholder => "Comments..."}
        %input.a-tags{:placeholder => "Add a tag..."}
