<div id="source">
  <div id="content">
  <BGCOLOR="#FFFFFF"><H1 align="center">Bill Text<br />112th Congress (2011-2012)<br />H.R.3523.IH</H1><bgcolor="#ffffff"><hr/>

  <p/>
  <table border="1" align="center" cellpadding="10"><td><a href="http://thomas.loc.gov/cgi-bin/t2GPO/http://www.gpo.gov/fdsys/pkg/BILLS-112hr3523ih/pdf/BILLS-112hr3523ih.pdf">Bill PDF</a></td><td><a href="/home/gpoxmlc112/h3523_ih.xml">XML</a><br/>
  <a href="/home/xml_help.html">[Help]</a><br/>
  </td><td><a href="/cgi-bin/query/C?c112:./temp/~c112vv7NHm">Printer Friendly</a>[<a href="/home/billdwnloadhelp.html">Help</a>]
  </td><td><a href="/cgi-bin/query/r?r112:@OR+(+@1(H.R.+3523)++@1(H.+R.+3523)++)">Congressional Record References</a></td><td><a href="/cgi-bin/bdquery/z?d112:h.r.03523:">Bill Summary & Status</a></td></table><hr/><br /><center><b>H.R.3523 -- Cyber Intelligence Sharing and Protection Act of 2011 (Introduced in House - IH)</b></center><br />
  <p>HR 3523 IH
  <p><center>112th CONGRESS</center>
  <p><center>1st Session</center>
  <p><b><center> H. R. 3523</center></b>
  <p><ttitle>To provide for the sharing of certain cyber threat intelligence and cyber threat information between the intelligence community and cybersecurity entities, and for other purposes.</ttitle>
  <p><b><center>IN THE HOUSE OF REPRESENTATIVES</center></b>
  <p><h3><center>November 30, 2011</center></h3>
  <p>Mr. ROGERS of Michigan (for himself, Mr. RUPPERSBERGER, Mr. KING of New York, Mr. UPTON, Mrs. MYRICK, Mr. LANGEVIN, Mr. CONAWAY, Mr. MILLER of Florida, Mr. BOREN, Mr. LOBIONDO, Mr. CHANDLER, Mr. NUNES, Mr. GUTIERREZ, Mr. WESTMORELAND, Mrs. BACHMANN, Mr. ROONEY, Mr. HECK, Mr. DICKS, Mr. MCCAUL, Mr. WALDEN, Mr. CALVERT, Mr. SHIMKUS, Mr. TERRY, Mr. BURGESS, Mr. GINGREY of Georgia, Mr. THOMPSON of California, Mr. KINZINGER of Illinois, Mr. AMODEI, and Mr. POMPEO) introduced the following bill; which was referred to the Select Committee on Intelligence (Permanent Select)
     <hr>
  <p><b><center>A BILL</center></b>
  <p><btitle>To provide for the sharing of certain cyber threat intelligence and cyber threat information between the intelligence community and cybersecurity entities, and for other purposes.</btitle>
  <p><ul><em>  Be it enacted by the Senate and House of Representatives of the United States of America in Congress assembled,</em></ul>
  <p><h3>SECTION 1. SHORT TITLE.</h3>
  <p><ul>  This Act may be cited as the `Cyber Intelligence Sharing and Protection Act of 2011'.</ul>
  <p><h3>SEC. 2. CYBER THREAT INTELLIGENCE AND INFORMATION SHARING.</h3>
  <p><ul>  (a) In General- Title XI of the National Security Act of 1947 (50 U.S.C. 442 et seq.) is amended by adding at the end the following new section:</ul>
  <p><h2>`CYBER THREAT INTELLIGENCE AND INFORMATION SHARING</h2>
  <p><ul>  `Sec. 1104.  (a) Intelligence Community Sharing of Cyber Threat Intelligence With Private Sector-</ul>
  <p><ul><ul>  `(1) IN GENERAL- The Director of National Intelligence shall establish procedures to allow elements of the intelligence community to share cyber threat intelligence with private-sector entities and to encourage the sharing of such intelligence.</ul></ul>
  <p><ul><ul>  `(2) SHARING AND USE OF CLASSIFIED INTELLIGENCE- The procedures established under paragraph (1) shall provide that classified cyber threat intelligence may only be--</ul></ul>
  <p><ul><ul><ul>  `(A) shared by an element of the intelligence community with--</ul></ul></ul>
  <p><ul><ul><ul><ul>  `(i) certified entities; or</ul></ul></ul></ul>
  <p><ul><ul><ul><ul>  `(ii) a person with an appropriate security clearance to receive such cyber threat intelligence;</ul></ul></ul></ul>
  <p><ul><ul><ul>  `(B) shared consistent with the need to protect the national security of the United States; and</ul></ul></ul>
  <p><ul><ul><ul>  `(C) used by a certified entity in a manner which protects such cyber threat intelligence from unauthorized disclosure.</ul></ul></ul>
  <p><ul><ul>  `(3) SECURITY CLEARANCE APPROVALS- The Director of National Intelligence shall issue guidelines providing that the head of an element of the intelligence community may, as the head of such element considers necessary to carry out this subsection--</ul></ul>
  <p><ul><ul><ul>  `(A) grant a security clearance on a temporary or permanent basis to an employee or officer of a certified entity;</ul></ul></ul>
  <p><ul><ul><ul>  `(B) grant a security clearance on a temporary or permanent basis to a certified entity and approval to use appropriate facilities; and</ul></ul></ul>
  <p><ul><ul><ul>  `(C) expedite the security clearance process for a person or entity as the head of such element considers necessary, consistent with the need to protect the national security of the United States.</ul></ul></ul>
  <p><ul><ul>  `(4) NO RIGHT OR BENEFIT- The provision of information to a private-sector entity under this subsection shall not create a right or benefit to similar information by such entity or any other private-sector entity.</ul></ul>
  <p><ul>  `(b) Private Sector Use of Cybersecurity Systems and Sharing of Cyber Threat Information-</ul>
  <p><ul><ul>  `(1) IN GENERAL-</ul></ul>
  <p><ul><ul><ul>  `(A) CYBERSECURITY PROVIDERS- Notwithstanding any other provision of law, a cybersecurity provider, with the express consent of a protected entity for which such cybersecurity provider is providing goods or services for cybersecurity purposes, may, for cybersecurity purposes--</ul></ul></ul>
  <p><ul><ul><ul><ul>  `(i) use cybersecurity systems to identify and obtain cyber threat information to protect the rights and property of such protected entity; and</ul></ul></ul></ul>
  <p><ul><ul><ul><ul>  `(ii) share such cyber threat information with any other entity designated by such protected entity, including, if specifically designated, the Federal Government.</ul></ul></ul></ul>
  <p><ul><ul><ul>  `(B) SELF-PROTECTED ENTITIES- Notwithstanding any other provision of law, a self-protected entity may, for cybersecurity purposes--</ul></ul></ul>
  <p><ul><ul><ul><ul>  `(i) use cybersecurity systems to identify and obtain cyber threat information to protect the rights and property of such self-protected entity; and</ul></ul></ul></ul>
  <p><ul><ul><ul><ul>  `(ii) share such cyber threat information with any other entity, including the Federal Government.</ul></ul></ul></ul>
  <p><ul><ul>  `(2) USE AND PROTECTION OF INFORMATION- Cyber threat information shared in accordance with paragraph (1)--</ul></ul>
  <p><ul><ul><ul>  `(A) shall only be shared in accordance with any restrictions placed on the sharing of such information by the protected entity or self-protected entity authorizing such sharing, including, if requested, appropriate anonymization or minimization of such information;</ul></ul></ul>
  <p><ul><ul><ul>  `(B) may not be used by an entity to gain an unfair competitive advantage to the detriment of the protected entity or the self-protected entity authorizing the sharing of information; and</ul></ul></ul>
  <p><ul><ul><ul>  `(C) if shared with the Federal Government--</ul></ul></ul>
  <p><ul><ul><ul><ul>  `(i) shall be exempt from disclosure under section 552 of title 5, United States Code;</ul></ul></ul></ul>
  <p><ul><ul><ul><ul>  `(ii) shall be considered proprietary information and shall not be disclosed to an entity outside of the Federal Government except as authorized by the entity sharing such information; and</ul></ul></ul></ul>
  <p><ul><ul><ul><ul>  `(iii) shall not be used by the Federal Government for regulatory purposes.</ul></ul></ul></ul>
  <p><ul><ul>  `(3) EXEMPTION FROM LIABILITY- No civil or criminal cause of action shall lie or be maintained in Federal or State court against a protected entity, self-protected entity, cybersecurity provider, or an officer, employee, or agent of a protected entity, self-protected entity, or cybersecurity provider, acting in good faith--</ul></ul>
  <p><ul><ul><ul>  `(A) for using cybersecurity systems or sharing information in accordance with this section; or</ul></ul></ul>
  <p><ul><ul><ul>  `(B) for not acting on information obtained or shared in accordance with this section.</ul></ul></ul>
  <p><ul><ul>  `(4) RELATIONSHIP TO OTHER LAWS REQUIRING THE DISCLOSURE OF INFORMATION- The submission of information under this subsection to the Federal Government shall not satisfy or affect any requirement under any other provision of law for a person or entity to provide information to the Federal Government.</ul></ul>
  <p><ul>  `(c) Report on Information Sharing- The Privacy and Civil Liberties Oversight Board established under section 1061 of the Intelligence Reform and Terrorism Prevention Act of 2004 (5 U.S.C. 601 note) shall annually submit to Congress a report in unclassified form containing--</ul>
  <p><ul><ul>  `(1) a review of the sharing and use of information by the Federal Government under this section and the procedures and guidelines established or issued by the Director of National Intelligence under subsection (a); and</ul></ul>
  <p><ul><ul>  `(2) any recommendations of the Board for improvements or modifications to such authorities to address privacy and civil liberties concerns.</ul></ul>
  <p><ul>  `(d) Federal Preemption- This section supersedes any statute of a State or political subdivision of a State that restricts or otherwise expressly regulates an activity authorized under subsection (b).</ul>
  <p><ul>  `(e) Savings Clause- Nothing in this section shall be construed to limit any other authority to use a cybersecurity system or to identify, obtain, or share cyber threat intelligence or cyber threat information.</ul>
  <p><ul>  `(f) Definitions- In this section:</ul>
  <p><ul><ul>  `(1) CERTIFIED ENTITY- The term `certified entity' means a protected entity, self-protected entity, or cybersecurity provider that--</ul></ul>
  <p><ul><ul><ul>  `(A) possesses or is eligible to obtain a security clearance, as determined by the Director of National Intelligence; and</ul></ul></ul>
  <p><ul><ul><ul>  `(B) is able to demonstrate to the Director of National Intelligence that such provider or such entity can appropriately protect classified cyber threat intelligence.</ul></ul></ul>
  <p><ul><ul><span class="annotator-hl" style="display: inline; ">`(2) CYBER THREAT INTELLIGENCE- The term `cyber threat intelligence' means information in the possession of an element of the intelligence community directly pertaining to a vulnerability of, or threat to, a system or network of a government or private entity, including information pertaining to the protection of a system or network from--</span></ul></ul>
  <p><ul><ul><ul><span class="annotator-hl" style="display: inline; ">  `(A) efforts to degrade, disrupt, or destroy such system or network; or</span></ul></ul></ul>
  <p><ul><ul><ul><span class="annotator-hl" style="display: inline; ">  `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.</span></ul></ul></ul>
  <p><ul><ul>  `(3) CYBERSECURITY PROVIDER- The term `cybersecurity provider' means a non-governmental entity that provides goods or services intended to be used for cybersecurity purposes.</ul></ul>
  <p><ul><ul>  `(4) CYBERSECURITY PURPOSE- The term `cybersecurity purpose' means the purpose of ensuring the integrity, confidentiality, or availability of, or safeguarding, a system or network, including protecting a system or network from--</ul></ul>
  <p><ul><ul><ul>  `(A) efforts to degrade, disrupt, or destroy such system or network; or</ul></ul></ul>
  <p><ul><ul><ul>  `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.</ul></ul></ul>
  <p><ul><ul>  `(5) CYBERSECURITY SYSTEM- The term `cybersecurity system' means a system designed or employed to ensure the integrity, confidentiality, or availability of, or safeguard, a system or network, including protecting a system or network from--</ul></ul>
  <p><ul><ul><ul>  `(A) efforts to degrade, disrupt, or destroy such system or network; or</ul></ul></ul>
  <p><ul><ul><ul>  `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.</ul></ul></ul>
  <p><ul><ul>  `(6) CYBER THREAT INFORMATION- The term `cyber threat information' means information directly pertaining to a vulnerability of, or threat to a system or network of a government or private entity, including information pertaining to the protection of a system or network from--</ul></ul>
  <p><ul><ul><ul>  `(A) efforts to degrade, disrupt, or destroy such system or network; or</ul></ul></ul>
  <p><ul><ul><ul>  `(B) theft or misappropriation of private or government information, intellectual property, or personally identifiable information.</ul></ul></ul>
  <p><ul><ul>  `(7) PROTECTED ENTITY- The term `protected entity' means an entity, other than an individual, that contracts with a cybersecurity provider for goods or services to be used for cybersecurity purposes.</ul></ul>
  <p><ul><ul>  `(8) SELF-PROTECTED ENTITY- The term `self-protected entity' means an entity, other than an individual, that provides goods or services for cybersecurity purposes to itself.'.</ul></ul>
  <p><ul>  (b) Procedures and Guidelines- The Director of National Intelligence shall--</ul>
  <p><ul><ul>  (1) not later than 60 days after the date of the enactment of this Act, establish procedures under paragraph (1) of section 1104(a) of the National Security Act of 1947, as added by subsection (a) of this section, and issue guidelines under paragraph (3) of such section 1104(a); and</ul></ul>
  <p><ul><ul>  (2) following the establishment of such procedures and the issuance of such guidelines, expeditiously distribute such procedures and such guidelines to appropriate Federal Government and private-sector entities.</ul></ul>
  <p><ul>  (c) Initial Report- The first report required to be submitted under subsection (c) of section 1104 of the National Security Act of 1947, as added by subsection (a) of this section, shall be submitted not later than one year after the date of the enactment of this Act.</ul>
  <p><ul>  (d) Table of Contents Amendment- The table of contents in the first section of such Act is amended by adding at the end the following new item:</ul>
  <p><ul><ul>`Sec. 1104. Cyber threat intelligence and information sharing.'.</ul></ul>
</div>
