%a#anchor2{:href => "#myAnchor", :rel => ""}
  .hyp-heatmap
    %svg.annotator-heatmap{:height => "100%", :xlink => "http://www.w3.org/1999/xlink", :xmlns => "http://www.w3.org/2000/svg"}
      %defs
        %linearGradient#heatmapGradient{:x1 => "0%", :x2 => "0%", :y1 => "0%", :y2 => "100%"}
          %stop.hyp-gr_bg{:offset => "0"}
          %stop.hyp-gr_bg{:offset => "0.67"}
          %stop.hyp-gr_positive{:offset => "0.69"}
          %stop.hyp-gr_negative{:offset => "0.72"}
          %stop.hyp-gr_bg{:offset => "0.75"}
          %stop.hyp-gr_negative{:offset => "0.77"}

          %stop.hyp-gr_neutral{:offset => "0.82"}
          %stop.hyp-gr_bg{:offset => "0.84"}
        %filter#heatBlend
          %feGaussianBlur{:stdDeviation => "2"}
      %rect{:fill => "url(#heatmapGradient)", :filter => "url(#heatBlend)", :height => "100%", :width => "100%", :x => "0", :y => "0"}
    .hyp-heatmap_tab
      13
