%li.a-widget.a-reply
  .a-meta
    .a-threadexp
    .a-user mary367
    .a-time posted 3 days ago
  .a-body
    .a-score.a-neutral
      %label 0
    %article.a-content
      %p
        Hello there, simply turned into aware of your blog thru Google, and found that it is really informative. I?m gonna watch out for brussels. I will appreciate if you continue this in future. A lot of other folks will be benefited from your writing. Cheers!
        %p
          Welcome you come here,come our uggs outlet stores .ugg outlet stores is the best stores of ugg boots outlet,offer all kinds of cheap ugg sale,
        %p
          Ugg outlet store sales various of discount uggs products,including boots, sandals, slipper, welcome to ugg outlet store to buy high quality products.
    .a-tags
      %span.a-tag uggsunlimit.br
      %form.a-component.a-flagger
  %ul.a-listing.a-replies
//        .fake_fieldset
//          Please flag only annotations which are clearly spam, or against hypothes.is terms of service.
//          %button Flag Annotation
