%li.annotator-widget.annotator-reply
  .annotator-meta.var1
    .annotator-threadexp -
    .annotator-user malogos
    .annotator-time posted 4 days ago - 2 replies
  .annotator-body
    .annotator-score.annotator-positive
      %label 34
    %article.annotator-content
      %p
        Your reading is correct. This bill is about cyber security and not copyright protection. ISPs are actually a minor part of this bill it's aimed to protect critical infrastructure. ISPs would only be sharing data that involves there role as critical US infrastructure, and so monitoring individual users isn't the point at all. If the wording needs cleaned up, that's one thing, but the intent is clearly not to spy on citizens.
      .annotator-tags.var1
        %span.annotator-tag Agree
  %ul.annotator-listing.annotator-replies
    = partial "reply-3.haml"
    = partial "reply-4.haml"
