%li.hyp-widget.hyp-reply
  .hyp-nothread
    .hyp-meta
      .hyp-fakecontrols
        %button.hyp-write Reply
        %button.hyp-fave Favorite
        %button.hyp-flag Flag
      .hyp-threadexp
      .hyp-user mary367
      .hyp-time posted 3 days ago
    .hyp-body
      .hyp-score.hyp-neutral
        %label 0
      %article.hyp-content
        %p
          Hello there, simply turned into aware of your blog thru Google, and found that it is really informative. I?m gonna watch out for brussels. I will appreciate if you continue this in future. A lot of other folks will be benefited from your writing. Cheers!
          %p
            Welcome you come here,come our uggs outlet stores .ugg outlet stores is the best stores of ugg boots outlet,offer all kinds of cheap ugg sale,
          %p
            Ugg outlet store sales various of discount uggs products,including boots, sandals, slipper, welcome to ugg outlet store to buy high quality products.
      .hyp-tags
        %span.hyp-tag uggsunlimit.br
  %ul.hyp-listing.hyp-replies
    = partial "writer.haml"
