%li.hyp-widget.hyp-reply
  .hyp-nothread
    .hyp-meta
      .hyp-fakecontrols
        %button.hyp-write Reply
        %button.hyp-fave Favorite
        %button.hyp-flag Flag
      .hyp-threadexp
      .hyp-user jnt8686
      .hyp-time posted 4 days ago
    .hyp-body
      .hyp-score.hyp-negative
        %label 11
      %article.hyp-content
        %p
          While you guys are technically correct, why does it seem like our government keeps passing laws that are designed to be confusing and misleading? I don't care what the nitpicky little reading could be, if a law appears at all to infringe upon our constitutional rights, it needs to be rewritten.
      .hyp-tags
        %span.hyp-tag Disagree
  %ul.hyp-listing.hyp-replies
    = partial "writer.haml"
