%li.annotator-widget.annotator-reply

  .annotator-component.annotator-meta
    .annotator-updown
      .annotator-up
    .annotator-container
      .annotator-user IWantSpaceships
      .annotator-time posted 5 days ago
    .annotator-controls
      %button.annotator-write Reply
      %button.annotator-fave Favorite
      %button.annotator-flag Flag

  %article.annotator-component.annotator-content
    %p
      That's not what I see when I read it. It doesn't state that intellectual property as a cybersecurity issue unto itself, only "protection of a system or network" from theft or misappropriation of that property. The bill does not expand an entity's power to control the distribution of that property after its theft/misappropriation from its network.
  .annotator-component.annotator-tags
    %span.annotator-tag Factually Incorrect
  %ul.annotator-listing.annotator-replies
    = partial "reply-2.haml"
    = partial "reply-5.haml"
