%li.annotator-widget.annotator-reply
  .annotator-body
    %article.annotator-content
      .annotator-score.red
        .annotator-container
          .annotator-dot
          .annotator-label 12
          .annotator-down
      %p
        While you guys are technically correct, why does it seem like our government keeps passing laws that are designed to be confusing and misleading? I don't care what the nitpicky little reading could be, if a law appears at all to infringe upon our constitutional rights, it needs to be rewritten.
    #meta1.annotator-meta.var1
      .annotator-tags.var1
        %span.annotator-tag Disagree
        %span.annotator-tag Disagree
        %span.annotator-tag Disagree
      .annotator-container
        .annotator-user jnt8686
        .annotator-time posted 5 days ago
    #controls1.annotator-controls.var2
      %button.annotator-write
      %label Reply
      %button.annotator-fave
      %label Favorite / Share
      %button.annotator-flag
      %label Flag as spam
  %ul.annotator-listing.annotator-replies
//{:style => "background: rgba(205, 101, 110, .2)"}
