%li.annotator-widget.annotator-reply

  %article.annotator-content
    .annotator-score
      .annotator-container
        .annotator-dot
        .annotator-label 56
        .annotator-down
    %p
      That's not what I see when I read it. It doesn't state that intellectual property as a cybersecurity issue unto itself, only "protection of a system or network" from theft or misappropriation of that property. The bill does not expand an entity's power to control the distribution of that property after its theft/misappropriation from its network.
  .annotator-meta.var1
    .annotator-tags.var1
      %span.annotator-tag Factually Incorrect
      %span.annotator-tag Factually Incorrect
      %span.annotator-tag Factually Incorrect
    .annotator-container
      .annotator-user IWantSpaceships
      .annotator-time posted 5 days ago
  %ul.annotator-listing.annotator-replies
    = partial "reply-2.haml"
    = partial "reply-5.haml"
//{:style => "background: rgba(205, 101, 110, .3)"}
