%li.annotator-widget.annotator-reply
  .annotator-meta.var1
    .annotator-threadexp +
    .annotator-user IWantSpaceships
    .annotator-time posted 5 days ago - 3 replies
  .annotator-body
    .annotator-score.annotator-negative
      %label 560
    %article.annotator-content
      %p
        That's not what I see when I read it. It doesn't state that intellectual property as a cybersecurity issue unto itself, only "protection of a system or network" from theft or misappropriation of that property. The bill does not expand an entity's power to control the distribution of that property after its theft/misappropriation from its network.
      .annotator-tags.var1
        %span.annotator-tag FactuallyIncorrect
  %ul.annotator-listing.annotator-replies
    = partial "reply-2.haml"
    = partial "reply-5.haml"
