%li.annotator-widget.annotator-reply

  .annotator-component.annotator-meta
    .annotator-updown
      .annotator-up
    .annotator-container
      .annotator-user mary367
      .annotator-time posted 5 days ago
    .annotator-controls
      %button.annotator-write Reply
      %button.annotator-fave Favorite
      %button.annotator-flag Flag

  %article.annotator-component.annotator-content
    %p
      Hello there, simply turned into aware of your blog thru Google, and found that it is really informative. I?m gonna watch out for brussels. I will appreciate if you continue this in future. A lot of other folks will be benefited from your writing. Cheers!
    %p
      Welcome you come here,come our uggs outlet stores .ugg outlet stores is the best stores of ugg boots outlet,offer all kinds of cheap ugg sale,
    %p
      Ugg outlet store sales various of discount uggs products,including boots, sandals, slipper, welcome to ugg outlet store to buy high quality products.
  .annotator-component.annotator-tags
    %span.annotator-tag uggsunlimit.br

  %form.annotator-component.annotator-flagger
    .fake_fieldset
      Please flag only annotations which are clearly spam, or against hypothes.is terms of service.
      %button Flag Annotation
