%li.annotator-widget.annotator-summary
  .annotator-body
    %article.annotator-content
      .annotator-score.red
        .annotator-container
          .annotator-dot
          .annotator-label 47
          .annotator-down
      %p From my reading, it explicitly includes intellectual property as a cybersecurity issue unto itself. (I have no idea why this would be justified.)
    .annotator-meta.var1
      .annotator-tags.var1
        %span.annotator-tag GovernmentOverreach
      .annotator-container
        .annotator-user mary367
        .annotator-time posted 5 days ago

%li.annotator-widget.annotator-summary
  .annotator-body
    %article.annotator-content
      .annotator-score.red
        .annotator-container
          .annotator-dot
          .annotator-label 45
          .annotator-down
      %p The bill's authors could take this provision out and companies will still get all the benefits they wanted in the first place. This spying section is the portion that will destroy our privacy and it's a section that's not even needed to accomplish the bill's goals.
      %p Facebook even admitted on Friday they don't like this section, don't need it, or don't want it, but for now, it's still in the bill. So that's why we need people to go here and email their member of Congress to vote against it.
    .annotator-meta.var1
      .annotator-tags.var1
        %span.annotator-tag Facebook
        %span.annotator-tag Privacy
      .annotator-container
        .annotator-user retrvor
        .annotator-time posted 3 days ago

%li.annotator-widget.annotator-summary
  .annotator-body
    %article.annotator-content
      .annotator-score.blue
        .annotator-container
          .annotator-dot
          .annotator-label 34
          .annotator-dot
      %p Here's the situation: you live in a country where the Government imposed a state of emergency due to an earthquake which decimated a city and killed hundreds of people. They then used the emergency powers they are granted under the state of emergency laws to force through a bill, that had been opposed multiple times in the past, that implements a three-strikes law on copyright infringement with the penalty being internet disconnection. After about 5 minutes of outrage the media got bored and now no one seems to care about 1) how the law was passed and 2) that the law is passed.
    .annotator-meta.var1
      .annotator-tags.var1
        %span.annotator-tag NewZealand
        %span.annotator-tag Copyright
      .annotator-container
        .annotator-user glass
        .annotator-time posted 2 days ago

%li.annotator-widget.annotator-summary
  .annotator-body
    %article.annotator-content
      .annotator-score.blue
        .annotator-container
          .annotator-dot
          .annotator-label 30
          .annotator-dot
      %p I am fearful that the current reactive approach to these bills will fail. They keep coming and coming and the ability to mobilize people time after time decreases. Eventually, the lobbying groups will slip these pieces of legislation through one small piece at a time. It's an effective tactic. It is my opinion that we need take a proactive stance to preempt these actions. My question to you, EFF, is what are our options, legislatively or other wise, to pass/ensure some basic protections for the architecture of a free and open Internet to discourage the seemingly unending onslaught to these harmful pieces of legislation?
      %p Instead of trying to educate, organize, and mobilize citizens 10,20, or 50 times, why can't we nail down some sort of basic internet bill of rights and mobilize everybody once to support it? The impact of that would be magnitudes greater.
    .annotator-meta.var1
      .annotator-tags.var1
        %span.annotator-tag GovernmentOverreach
      .annotator-container
        .annotator-user waywardfrantz
        .annotator-time posted 5 days ago

%li.annotator-widget.annotator-summary
  .annotator-body
    %article.annotator-content
      .annotator-score.red
        .annotator-container
          .annotator-dot
          .annotator-label 12
          .annotator-down
      %p I say focus on two lines, the main description where it says "for other purpose" i mean WTF? and then later when it says people are clear of liability if they have good intentions. Lets get people to read the bill, these are ludicrous lines in a fairly moderate bill. The line stating that any requests authorized by this bill must be reported in non-classified form is AWESOME and helps us a lot.
    .annotator-meta.var1
      .annotator-tags.var1
        %span.annotator-tag GovernmentOverreach
      .annotator-container
        .annotator-user HelloGoodbye
        .annotator-time posted 5 days ago
