%li#a-xb9-s.a-summary
  .a-widget.a-reply
    .a-nothread
      .a-meta
        .a-threadexp
        .a-user bo1024
        .a-time posted 4 days ago - 5 replies
      .a-body
        .a-score.a-negative
          %label 47
        .a-content
          %p
            From my reading, it explicitly includes intellectual property as a cybersecurity issue unto itself. (I have no idea why this would be justified.)
        .a-tags
          %span.a-tag GovernmentOverreach

%li#a-wf4-s.a-summary
  .a-widget.a-reply
    .a-nothread
      .a-meta
        .a-threadexp
        .a-user waywardfrantz
        .a-time posted 5 days ago - 3 replies
      .a-body
        .a-score.a-neutral
          %label 30
        .a-content
          %p I am fearful that the current reactive approach to these bills will fail. They keep coming and coming and the ability to mobilize people time after time decreases. Eventually, the lobbying groups will slip these pieces of legislation through one small piece at a time. It's an effective tactic. It is my opinion that we need take a proactive stance to preempt these actions.
          %p Instead of trying to educate, organize, and mobilize citizens 10,20, or 50 times, why can't we nail down some sort of basic internet bill of rights and mobilize everybody once to support it? The impact of that would be magnitudes greater.
        .a-tags
          %span.a-tag InternetBillOfRights

%li#a-cd6-s.a-summary
  .a-widget.a-reply
    .a-nothread
      .a-meta
        .a-threadexp
        .a-user retrvor
        .a-time posted 3 days ago - 12 replies
      .a-body
        .a-score.a-negative
          %label 45
        .a-content
          %p The bill's authors could take this provision out and companies will still get all the benefits they wanted in the first place. This spying section is the portion that will destroy our privacy and it's a section that's not even needed to accomplish the bill's goals.
        .a-tags
          %span.a-tag Facebook

%li#a-zb3-s.a-summary
  .a-widget.a-reply
    .a-nothread
      .a-meta
        .a-threadexp
        .a-user mz_book
        .a-time posted 2 days ago - 12 replies
      .a-body
        .a-score.a-positive
          %label 34
        .a-content
          %p This legislation removes burdensome rules that currently limit protection of the cyber ecosystem, and helps provide a more established structure for sharing within the cyber community while still respecting the privacy rights and expectations of our users.
        .a-tags
          %span.a-tag SharingIsCaring
