%li.hyp-widget.hyp-writer
  .hyp-nothread
    .hyp-meta
      .hyp-fakecontrols
        %button.hyp-write Reply
        %button.hyp-fave Favorite
        %button.hyp-flag Flag
      .hyp-threadexp
      .hyp-user dWhaley
      .hyp-time posted now - 0 replies
    .hyp-body
      .hyp-score.hyp-negative
        %label 21
      .hyp-content
        %p
          That's not what I see when I read it. It doesn't state that intellectual property as a cybersecurity issue unto itself, only "protection of a system or network" from theft or misappropriation of that property. The bill does not expand an entity's power to control the distribution of that property after its theft/misappropriation from its network.
      .hyp-tags
        %span.hyp-tag FactuallyIncorrect
