%li.hyp-widget.hyp-writer
  .hyp-scorecontrol
    %label 87
    .hyp-top
    .hyp-mid
    .hyp-bottom
  .hyp-nothread
    .hyp-meta
      .hyp-user dWhly
      .hyp-fakecontrols
        %button.hyp-save Save
        %button.hyp-delete Cancel
    .hyp-body
      %textarea.hyp-content{:placeholder => "Comments..."}
      %input.hyp-tags{:placeholder => "Add a tag..."}
