%li.a-widget.a-writer
  .a-scorecontrol
    %label 87
    .a-top
    .a-mid
    .a-bottom
  .a-nothread
    .a-meta
      .a-user dWhly
      .a-fakecontrols
        %button.a-save Save
        %button.a-delete Cancel
    .a-body
      %textarea.a-content{:placeholder => "Comments..."}
      %input.a-tags{:placeholder => "Add a tag..."}
