%li.a-widget.a-writer
  .a-nothread
    .a-meta
      .a-fakecontrols
        %button.a-save Save
        %button.a-delete Delete
      .a-threadexp
      .a-user dWhly
      .a-time posting now - 0 replies
    .a-body
      .a-score.a-neutral.a-dot
        %label 87
      %textarea.a-content{:placeholder => "Comments..."}
      %input.a-tags{:placeholder => "Add a tag..."}
