%form.hyp-component.hyp-writer
  .fake_fieldset
    .hyp-score
      .hyp-container
        .hyp-dot
        .hyp-label 12
        .hyp-dot
    %textarea{:placeholder => "Comments..."}
    %input{:placeholder => "Add a tag..."}
    .hyp-controls
      %button.hyp-save Save
      %button.hyp-delete Delete
