%form.a-component.a-writer
  .fake_fieldset
    .a-score
      .a-container
        .a-dot
        .a-label 12
        .a-dot
    %textarea{:placeholder => "Comments..."}
    %input{:placeholder => "Add a tag..."}
    .a-controls
      %button.a-save Save
      %button.a-delete Delete
